/*==============================================
										Fonts
================================================*/
@font-face {
	font-family: 'LadyCopra';
	src: url('fonts/LADYC___.eot');
	src: url('fonts/LADYC___.eot?#iefix') format('embedded-opentype'),
			 url('fonts/LADYC___.woff') format('woff'),
			 url('fonts/LADYC___.ttf') format('truetype'),
			 url('fonts/LADYC___.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'InterstateCondensedBold';
	src: url('fonts/InterstateBoldCondensed.eot');
	src: url('fonts/InterstateBoldCondensed.eot?#iefix') format('embedded-opentype'),
			 url('fonts/InterstateBoldCondensed.woff') format('woff'),
			 url('fonts/InterstateBoldCondensed.ttf') format('truetype'),
			 url('fonts/InterstateBoldCondensed.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GlasgowMedium';
	src: url('fonts/Glasgow-Medium.eot?');
	src: url('fonts/Glasgow-Medium.eot?#iefix') format('embedded-opentype'),
			 url('fonts/Glasgow-Medium.woff') format('woff'),
			 url('fonts/Glasgow-Medium.ttf') format('truetype'),
			 url('fonts/Glasgow-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*=====================================================
											Modile styles
=======================================================*/



body{
  font:  12px/1.5 'Georgia';
	color: #9c8c6a;
  background: url("../img/header_gradient.png") repeat-x ,
              url("../img/main_bg.jpg");
}
h1 a{
  font:400 57px/1.2 'LadyCopra', serif;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
}
h2{
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.9);
  color: #545454;
  font:400 15px/1.5 'InterstateCondensedBold';
  text-transform: uppercase;
  display: inline-block;
}
h2+a{
	display: inline-block;
}
h3>a{
	text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.39);
	color: #278f7f;
	font: 400 20px/1.1 'Geogia';
}
header a{
	margin:0 0 0 5px;
}
a{
  font: italic 11px/15px 'Georgia';
	/*font-size-adjust: none;*/
  text-decoration: none;
  color: #278f7f;
}

.container{
  width: 100%;
  margin: 0 auto;;
  display: table;

}
/*==========================================================
													logo
===========================================================*/
.logo{
  display: table-header-group;
  text-align: center;
}
.logo h1{
  margin: 55px 0 0 0;
}
.logo span,
.hot-news span{
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.28);
  color: #646767;
  font-size: 13px;
  font-style: italic;
  position: relative;
}
.logo span:before, .logo span:after {
  content: '';
  position: absolute;
  border-top: 1px solid #4e4e4e;
  top: 8px;
}
.logo span:before {
  width: 50px;
  left: -58px;
}
.logo span:after {
  width: 50px;
  right: -58px;
}
/*==============================================================
													hot-news
================================================================*/
.hot-news,
.search{
  text-align: center;
}
.hot-news{
  display: table-row-group;
}
.hot-news span{
	display: block;
	max-width: 320px;
	margin: 0 auto;
}
.head-wrapper{
  margin: 25px 0 0 0;
}
.hot-news-arrows{
  display: inline-block;
  vertical-align: top;
}
.hot-news .arrow-up,
.hot-news .arrow-down {
  background-image: -webkit-linear-gradient(bottom, #dbdbdb 0%, white 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#dbdbdb), to(white));
  background-image: -moz-linear-gradient(bottom, #dbdbdb 0%, white 100%);
  background-image: -o-linear-gradient(bottom, #dbdbdb 0%, white 100%);
  background-image: linear-gradient(to top, #dbdbdb 0%, white 100%);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 1, 0.26), inset 1px 1px 1px rgba(255, 255, 255, 0.42);
     -moz-box-shadow: 1px 1px 1px rgba(0, 0, 1, 0.26), inset 1px 1px 1px rgba(255, 255, 255, 0.42);
          box-shadow: 1px 1px 1px rgba(0, 0, 1, 0.26), inset 1px 1px 1px rgba(255, 255, 255, 0.42);
  font-size: 12px;
  margin-left: 2px;
  display:inline-block;
  line-height: 12px;
  padding: 0 3px;
  vertical-align: middle;
}
.hot-news .arrow-up:hover,
.hot-news .arrow-down:hover{
  background-image: -webkit-linear-gradient(bottom, #bebebe 0%, white 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#dbdbdb), to(white));
  background-image: -moz-linear-gradient(bottom, #bebebe 0%, white 100%);
  background-image: -o-linear-gradient(bottom, #bebebe 0%, white 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#bebebe), to(white));
  background-image: linear-gradient(to top, #bebebe 0%, white 100%);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 1, 0.77), inset 1px 1px 1px rgba(9, 1, 1, 0.31);
     -moz-box-shadow: 1px 1px 1px rgba(0, 0, 1, 0.77), inset 1px 1px 1px rgba(9, 1, 1, 0.31);
          box-shadow: 1px 1px 1px rgba(0, 0, 1, 0.77), inset 1px 1px 1px rgba(9, 1, 1, 0.31);
}
/*========================================================
												search
==========================================================*/
.search{
  margin: 25px 0 20px 0;
}
.input-wrapper{
  display: inline;
  position:relative;
}
input[type="search"],
input[type="email"]{
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.5);
  color: #898989;
  font-style: italic;
  padding: 0px 30px 0px 15px;
  outline: 0;

}
.search input[type="submit"],
.subscribe input[type="submit"]{
  background: none;
  border: none;
  font-family: 'FontAwesome';
  color: #898989;
  position: absolute;
  right: 5px;
}

.hot-news:after,
.search:after{
  content: '';
  display: block;
  height: 0;
  clear: both;
}
/*==========================================================
												Hamburger-menu
==========================================================*/
.hamburger{
	cursor: pointer;
	display: block;
	margin: 10px 0 10px 10px;
}

.line{
	border-bottom: 4px solid #bbb;
	width: 35px;
	margin-bottom: 6px;
}
.line:last-child{
	margin-bottom: 0;
}
nav{
	width: 100%;
	min-width: 320px;
	max-width: 767px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;
	background-color: #bae7e0;
}
nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #bae7e0;
}
nav span{
	display: none;
}
nav li{
	width: 100%;
	text-align: center;
}
nav li a{
	display: block;
	padding: 10px 0;
	border-bottom: 1px solid #e0f4f1;
}
nav li a:hover{
	background-color: #fff;
}
nav li:first-child a{
	border-top: 1px solid #e0f4f1;
}
.menu{
	height: 0;
	overflow: hidden;
	transition: height .3s;
}
.open{
	height: 216px;
}
/*==============================================
      							main
================================================*/
main{
	background-color: #fff;
	width: 100%;
}
.slide{
	background: none;
	display: none;
}
.slide img{
	width: 100%;
	height: auto;
}
.circle,
.left-chevron,
.right-chevron{
	display: none;
}
.pictures header,
.posts header,
.video-block header,
.more-videos header,
aside header{
	margin: 20px 0 10px 20px;
}
.pictures ul{
	padding: 0;
	list-style: none;
	margin: 0;
	width: 92%;
	margin: 0 auto;
}
.pictures ul li{
	display: inline-block;
}
.post{
	width: 92%;
	margin: 0 auto 25px;
	text-align: center;
	color: #9c8c6a;
}
.post h3{
	margin-bottom: 10px;
}
.post span{
	font-size: 11px;
}
.post p,
.sidebar-post p{
	display: block;
	margin: 10px auto 15px;
	max-width: 420px;
}
.post-img img{
	width: 100%;
	max-width: 232px;
	min-width: 100px;
	height: auto;
	margin-bottom: 10px;
}
.post-content a {
  margin-left: 3px;
}
.dot{
  color: #278f7f;
  font-size: 6px;
  line-height: 10px;
  vertical-align: middle;
}
.social{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.social-wrapper{
	width: 160px;
	margin: 0 auto;
}
.social .twitter,
footer .twitter {
  display: block;
  width: 11px;
  height: 15px;
  padding-right: 4px;
  background-color: rgb(158, 232, 235);
  text-align: right;
  border: 0.5px solid rgb(87, 194, 219);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  color: rgb(60, 141, 195);
  -webkit-box-shadow: inset 0 3px 2px -2px rgba(255, 255, 255, 1), inset 0 -2px 1px -1px rgb(87, 194, 219);
     -moz-box-shadow: inset 0 3px 2px -2px rgba(255, 255, 255, 1), inset 0 -2px 1px -1px rgb(87, 194, 219);
          box-shadow: inset 0 3px 2px -2px rgba(255, 255, 255, 1), inset 0 -2px 1px -1px rgb(87, 194, 219);
  float: left;
}
.social .twitter:hover,
footer .twitter:hover{
  background-color:rgb(208, 255, 255);
}
.social .facebook:hover,
footer .facebook:hover{
  background-color: rgb(107, 180, 200);
}

.social .facebook,
footer .facebook {
  display: block;
  width: 12px;
  height: 15px;
  padding-right: 3px;
  background-color: rgb(77, 110, 170);
  text-align: right;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 0.5px solid rgb(84, 117, 172);
  color: rgb(255, 255, 255);
  -webkit-box-shadow: inset 0 3px 2px -2px rgba(126, 148, 224, 1), inset 0 -3px 3px -1px rgba(126, 148, 224, 1);
     -moz-box-shadow: inset 0 3px 2px -2px rgba(126, 148, 224, 1), inset 0 -3px 3px -1px rgba(126, 148, 224, 1);
          box-shadow: inset 0 3px 2px -2px rgba(126, 148, 224, 1), inset 0 -3px 3px -1px rgba(126, 148, 224, 1);
  float: left;
}
.facebook{
  /*margin-right: 20px;*/
}
.container .comments-link{
  margin: 0;
}
.comments {
  float: left;
  margin:0 20px 10px 0;
  height: 20px;
  background-color: #f0e3c8;
  -webkit-box-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.39);
     -moz-box-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.39);
          box-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.39);
  position: relative;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}
.comments::before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  left: 10px;
  top: -5px;
  background-color: #f0e3c8;

  -webkit-transform: rotate(45deg);

     -moz-transform: rotate(45deg);

      -ms-transform: rotate(45deg);

       -o-transform: rotate(45deg);

          transform: rotate(45deg);
}
.comments span {
	font:italic 11px/17px 'Georgia';
  color: #a28d62;
  padding: 0 10px;
}
.tags a,
.sidebar-post a{
	font-size: 12px;
}
.video-block{
	width: 92%;
	margin: 0 auto;
}

.video-block video{
	width: 100%;
	height: auto;
}
.more-videos {
	width: 92%;
	margin: 0 auto;
}
.table-videos{
	-webkit-border-radius: 5px;
		 -moz-border-radius: 5px;
					border-radius: 5px;
					overflow: hidden;
}
.table-videos a{
	display: inline-block;
	position: relative;
}
.table-videos a:hover:after{
	content: "";
	width: 39px;
	height: 39px;
	display: block;
	border:4px solid #3bc0ac;
	position: absolute;
	top: 0;
	left: 0;
}

/*=======================================================
												sidebar
=========================================================*/
.column-2{
	width: 92%;
	margin: 0 auto;
	text-align: center;
}
.column-2 header{
	text-align: left;
}
.form-header,
.vote-form{
	display: none;
}
.subscribe h2{
	display: block;
}
.subscribe input[type="email"]{
	background-color: #f4ebd8;
}
.subscribe input[type="submit"]{
	color:#a28d62;
}
.sidebar-social{
	margin: 15px 0 0;
	padding: 0 0 10px 0;
}
.sidebar-social a{
	display: inline-block;
	margin: 0 0 0 5px;
	position: relative;
}
.sidebar-social a:hover:after{
  position: absolute;
  content: "";
  width: 30px;
  height: 31px;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
}
/*===============================================================
													footer
=================================================================*/

footer .container{
	background:url("../img/fotter_bg.jpg");
}
footer{
  text-align: center;
}
footer .container{
  margin-top: 0;
  width: 100%;
}

footer .footer-logo{
  float:none;
  margin: 0 auto;
	width: 175px;
	text-align: center;
	padding-top: 20px;
}
.footer-logo h4 {
  text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.29);
  color: white;
	font:400 normal 34px/1 "LadyCopra";
}
footer .footer-logo p{
  margin-bottom: 0;
	text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.22);
  color: #ececec;
}
.footer-col{
	margin-top: 20px;
	text-align: center;
}
.footer-col a{
	color: #9acac3;
	text-decoration: underline;
	font-size: 12px;
}
.footer-col a:hover{
	text-decoration: none;
}
.footer-list{
	margin: 0;
	padding: 0;
	list-style: none;
}
footer .footer-social{
  width: 40px;
  margin: 20px auto;
}
footer .footer-social a:first-child{
	margin: 0 5px 20px 0;
}

/*============================================================================
															@media Tablets
============================================================================*/
@media screen and (min-width:768px){

	.container{
		width:760px;
		/*border: 1px solid #444;*/
		display: block;
	}

	/*============================================================================
										header
	============================================================================*/
	.hot-news{
		float: left;
		display: block;
		width:245px;
	}
	.logo{
		float: left;
		margin: 0 0 30px 0;
	}
	.logo h1{
		margin: 10px 0 0 5px;
	}
	.search{
		float: left;
		margin: 45px 0 20px 15px;
	}
	.search input[type="submit"]{
		top:-3px;
	}
}
/*============================================================
									navbar
============================================================*/
nav{
	position:static;
	background: url("../img/navbar_bg.png")20px -20px repeat-x;
}
.hamburger{
	margin: 0;
	padding: 15px;
	box-shadow: 0 3px 10px 0 black;
	position: relative;
	z-index: 100;
}
.line{
	border-color: rgba(138, 99, 53, 0.67);
	box-shadow: 01px 1px 0 rgba(255, 255, 255, 0.17), inset 1px 1px 1px rgba(0, 0, 1, 0.15);
}

.menu{
	background-color: #fff;
	position: relative;
}
.menu li{
	background: #c29b6e;
	box-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.17), inset 0.5px 0.9px 1px rgba(0, 0, 1, 0.15);
}
.menu li a{
	color:#85391b;
	border-bottom: 1px solid rgba(138, 99, 53, 0.67);
}
.menu li:first-child a{
	border-top: none;
}
.menu li a:hover{
	background: rgba(138, 99, 53, 0.67);
	color:#d4d4d4;
}






.pictures header{
	margin-top: 0;
}

/*====================================================
												clearfix
=====================================================*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}
